@media screen and (max-width:1500px){
    body{
        background-color: antiquewhite;
    }
    
    nav ul  {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    

    .card{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn{
       
       flex-wrap: wrap;
    }
    #search_item {
        flex-wrap: wrap;
        margin: auto  ;

    }
    footer{
        justify-content: center;
        align-items: center;
    }
}